.App {
  text-align: center;
  --crossColor : #bcbe4d;
  --circleColor : #d5895d;
  --fontColor : #caae9d;
}
.App h1 {
  font-size: 4rem;
  margin: 2%;
}

body {
  background-color: #f2ded0;
  color: var(--fontColor);
  align-items: center;
}
.x {
  color: var(--crossColor);
}
.o {
  color: var(--circleColor);
}
.board {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center ;
  height: 500px;
  width: 500px;
  border: 4px solid var(--fontColor);
}
.square{
  border: 4px solid var(--fontColor);
  color: #f2ded0;
  font-size: 5rem;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%; 
  justify-content: center;
  align-items:center;
  transition: 0.3s ease;
}
.square.x {
  color: var(--crossColor);
  border-color: var(--crossColor);
  border-style: dashed
}
.square.o {
  color: var(--circleColor);
  border-color: var(--circleColor);
  border-style: dashed;
}
.winner {
  display: flex;
  color: #73655d;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}
.winner p {
  margin: 0 auto;
  margin-bottom: 1%;
}
.winner button {
  background-color: transparent;
  border: none;  
  color: #73655d;
  font-size: 2rem;
  cursor: pointer;
  width: fit-content;
  padding: 2%;
  border-radius: 15px;

}
.winner span {
  text-transform: capitalize;
}
button.x {
  transition: 0.4s ease-in-out;
}
button.x:hover {
  color: aliceblue;
  background-color: var(--crossColor);
}
button.o {
  transition: 0.4s ease-in-out;
}
button.o:hover {
  color: aliceblue;
  background-color: var(--circleColor);
}

.winner span {
  font-weight: bold;
}
.winner p.x {
  text-transform: uppercase;
}
.winner p.o {
  text-transform: uppercase;
}
